<h1>Data analysis report for bike company</h1>
<i>Konsta Nyman</i>

In [1]:
# imports

import pandas as P
import scipy.stats as S
import numpy as N

<h2>Data preparation</h2>

In [2]:
# loading data file

bikes = P.read_csv('./project_data/bikes.data',
                   # field separator character
                   sep=",",
                   # missing value characters
                   na_values=["?"],
                   # no row names
                   index_col=False,
                   # first row as column names
                   header=0,
                   # quote character
                   quotechar="'")
bikes

,ticket,cost,month,location_from,location_to,duration,distance,assistance,energy_used,energy_collected
0,single,0.35,9,MICROTEKNIA,PUIJONLAAKSO,411.0,2150,1,19.0,2.7
1,single,1.20,5,SATAMA,KEILANKANTA,1411.0,7130,1,53.8,15.3
2,savonia,0.00,9,TASAVALLANKATU,NEULAMÄKI,1308.0,5420,1,43.0,9.9
3,savonia,0.00,10,TORI,KAUPPAKATU,1036.0,1180,1,6.5,2.1
4,single,0.30,9,TORI,TORI,319.0,1120,1,13.7,1.2
...,...,...,...,...,...,...,...,...,...,...
1769,savonia,0.00,10,KAUPPAKATU,TORI,836.0,960,1,8.0,2.7
1770,single,0.20,7,TORI,SATAMA,199.0,930,1,3.7,3.6
1771,season,0.00,7,TORI,TORI,61.0,0,1,0.0,0.0
1772,savonia,0.00,9,MICROTEKNIA,PUIJONLAAKSO,610.0,2460,1,36.5,6.9
1773,season,0.00,8,PUIJONLAAKSO,KAUPPAKATU,478.0,2250,1,8.1,13.8

<p>Data file is now loaded and looks clean at first glance. The variables match the documentation provided.</p>

<h4>Exploring the variables</h4>

In [26]:
# checking data types

bikes.dtypes

ticket               object
cost                float64
month                 int64
location_from        object
location_to          object
duration            float64
distance              int64
assistance            int64
energy_used         float64
energy_collected    float64
dtype: object

In [28]:
# overall description of dataframe

bikes.describe()

,cost,month,duration,distance,assistance,energy_used,energy_collected
count,1774.000000,1774.000000,1774.000000,1774.000000,1774.000000,1774.000000,1774.000000
mean,0.491234,7.233371,671.323563,2460.067644,0.916009,17.399493,5.639290
std,4.127344,1.720351,1141.708627,2352.529305,0.277452,17.194463,6.379593
min,0.000000,4.000000,2.000000,-3380.000000,0.000000,0.000000,0.000000
25%,0.000000,6.000000,245.250000,910.000000,1.000000,1.425000,0.600000
50%,0.050000,7.000000,546.500000,2030.000000,1.000000,14.350000,3.900000
75%,0.550000,9.000000,877.750000,3605.000000,1.000000,26.900000,8.325000
max,100.000000,10.000000,25614.000000,20770.000000,1.000000,144.900000,56.400000

<p>From here we can see that at least column 'distance has some issues because of the negative value.</p>

In [30]:
# find null values

bikes.isnull().sum()

ticket              0
cost                0
month               0
location_from       0
location_to         0
duration            0
distance            0
assistance          0
energy_used         0
energy_collected    0
dtype: int64

<p>No null values</p>

In [34]:
# check odditites

print(bikes['ticket'].unique())
print(bikes['location_from'].unique())
print(bikes['location_to'].unique())
print(bikes['assistance'].unique())

['single' 'savonia' 'season']
['MICROTEKNIA' 'SATAMA' 'TASAVALLANKATU' 'TORI' 'NEULAMÄKI' 'KEILANKANTA'
 'PUIJONLAAKSO' 'KAUPPAKATU' 'KYS' 'PIRTTI']
['PUIJONLAAKSO' 'KEILANKANTA' 'NEULAMÄKI' 'KAUPPAKATU' 'TORI'
 'TASAVALLANKATU' 'MICROTEKNIA' 'SATAMA' 'PIRTTI' 'KYS']
[1 0]

<p>Everything looks fine in these columns</p>